*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e9e9e9;
}

.paris_to{
    padding: 10px 0px 10px 180px;
    background-color: white;
}

.main_container_trip{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

.img_plus, .img_arrow{
    height: 30px;
    width: 30px;
    background-color: #00a5ec;
    border-radius: 50%;
    padding: 4px;
}

.two_button{
    display: flex;
    gap: 160px;
    padding-bottom: 30px;
}

.trip_paris{
    display: flex;
    gap: 6px;
}

.twoo{
    padding-top: 5px;
}

.trip_container{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 390px;
    background-color: white;
    border-radius: 10px;
    color: #00a5ec;
    box-shadow: 0px 0px 5px 2px #a5a7ad;
}

.trip_container:hover{
    box-shadow: 0px 0px 5px 7px #a5a7ad;
}


.trip_top{
    padding: 15px 0px 15px 130px;
    
    
}

label{
    position: relative;
    left: 50px;
    top: -9px;
}

input{
    width: 8%;
    height: 8%;
    position: absolute;
}

form{
    padding:25px 0px 0px 60px;
    line-height: 40px;
}

.through{
    color: gray;
    text-decoration: line-through;
}

.shop{
    color: black;
}



.transform_trip{
    position: relative;
    height: 100vh;
}

.main_container_trip{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}












.new_task {
    height: 190px;
    width: 340px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #a5a7ad;
}

.new_task:hover{
    box-shadow: 0px 0px 5px 7px #a5a7ad;
}

.add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px 15px 0px;
    gap: 148px;
}

.add_h3_color{
    color: black;
}

.new_tast_input {
    width: 330px;
    height: 30px;
    position: absolute;
    left: 5px;
    background-color: #e9e9e9;
    padding-left: 5px;
    border-radius: 5px;
}

.add_button {
    position: absolute;
    top: 140px;
    left: 230px;
    color: white;
}

button {
    background-color: #00a5ec;
    padding: 4px 15px;
    border-radius: 3px;
}

.container {
    position: relative;
    height: 100vh;
    filter: blur(2px);
}

.new_task {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

